<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
  <title>Document</title>
</head>
<body>
    <h3>削除したい本のISBNを入力してください</h3>
    <form action = "{{url_for('delete_exe')}}" method = "post">
        <label for="title">ISBN</label>
        <input type= "text" name = "isbn"><br>
        <button type= "submit">削除</button>
    </form>
</body>
</html>