<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/mypage.css')}}">
  
  <style>
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background: linear-gradient(to right, #00a960, #b2cbe4); /* 背景にグラデーションを指定 */
      animation: gradientFlow 10s linear infinite; /* アニメーションを適用 */
    }

    @keyframes gradientFlow {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 100% 50%;
      }
    }
  </style>
  <title>Document</title>
</head>
<body>
  <div class="navbar">
    <a href="{{url_for('select_all')}}">本の一覧</a>
    <a href="{{url_for('search_book')}}">本の検索</a>
    <a href="{{url_for('index')}}">戻る</a>
  </div>
</body>
</html>
